* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */
    /* overflow: hidden; */
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Montserrat';
    background-color: #0E0E0E;
}

#main{
    background-color: #0E0E0E;
    width: 100%;
    /* height: 100vh; */
    position: relative;
}

.library-container{
    height: 1000%;   
    /* margin-bottom: 10px;  */
}

.container{
    height: 100vh;
}

.libcontain{
    height: 100vh;
}

#header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    padding: 20px;
    align-items: center;
    color: #fff;
}

.brand {
    width: 120px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

ul li {
  list-style:none;
  margin-top:10px;
  padding:8px;
  margin-left:0px;
}

.active, .linkColor:hover  {
    /* background:#dfe0e5; */
    overflow:hidden;
    /* border-left:2px solid #00f; */
    /* padding:8px; */
    border-bottom: 3px solid green;
    
  }

.links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* border-bottom: 3px solid transparent; */
}
/* 
.links a:hover {
    border-bottom: 3px solid green;
  }
  
  .links a.active {
    border-bottom: 3px solid green;
  } */

.linkColor {
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px 0;
    margin: 0 20px;
    cursor: pointer;
}

/* .active, .linkColor:hover {
    border-bottom: 3px solid green;
} */

.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user_img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* margin-top: 10px; */
}

#player{
    position: absolute;
    bottom: 0;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #282828;
    width: 100%;
    color: #fff;
    z-index: 10;
    overflow: hidden;
}

.music{
    display: flex;
}

.music_img{
    height: 80px;
    width: 80px;
    margin-right: 30px;
}

.music_details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.title{
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: white;
}

.subtitle{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

.controls{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls i{
    margin: 0 45px;
}

.options{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
}

.options i{
    margin-right: 45px;
}

.volume{
    width: 140px;
    height: 7px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.volume::before{
    position: absolute;
    content: '';
    width: 35%;
    height: 100%;
    border-radius: 5px;
    background-color: #13AF22;
}

.volume::after{
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    top: -50%;
    left: 30%;
}

#recently_played{
    position: absolute;
    right: 0;
    top: 93px;
    background-image: linear-gradient(to bottom,#0A0A0A,#242424);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0 25px;
    width: 320px;
    z-index: 5;
}

.heading{
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.list_box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 10px 0;
}

.list_item{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 13.5px 25px;
}

.list_img{
    height: 60px;
    width: 60px;
}

.list_details{
    margin-left: 30px;
}

.list_title{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
}

.list_subtitle{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.list_subtitle img{
    height: 20px;
    margin-right: 10px;
}

.artist_name{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.top_text{
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    color: #fff;
    font-size: 18px;
    padding: 5px 25px;
}

.top__text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 5px 25px;
    margin-bottom: 20px;
}

.top_left{
    color: rgba(255, 255, 255, 0.8);
}

.bottom_box{
    padding: 0 25px;
    display: flex;
}

.box_card {
    width: fit-content;
    border-radius: 20px;
    padding: 20px 18px 14px 18px;
    background-color: #282828;
    margin: 0 10px;
    overflow: hidden;
}

.box_card:hover{
    background-color: #8282826e;
    transition: background-color .5s ease;
}

.box_img{
    height: 150px;
}

.box_card:hover .play-button{display: block;}
.box_card .play-button {
    position: relative;
		/* top: calc(40% - 30px); */
		/* left: calc(10%); */
        /* margin-top:  */
		width: 40px;
		height: 40px;
		display: none;
        border-radius: 50%;
		padding: 0;
        margin-left: 100px;
        margin-top: -50px;
		/* margin: 0 auto; */
		/* user-select: none;		 */
        background-color: green;
		transition: background-color 0.5s ease;
        cursor: pointer;
        /* z-index: 100; */
    }
    
.play-button:after {
position: absolute;
top: calc(25%);
left: calc(35%);
display: block;
content: "";
width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 14px solid black;
cursor: pointer;

}
.play-button:hover {
transform: scale(1.1);
transition: transform .5s ease;
}

.box_title{
    margin-top: 15px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
}

.box_subtitle{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

/* library page */

.btn.dropdown-toggle {
    width: 150px;
    text-align: center;
  }
  
  span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
  }
  
  label {
    padding-top: 5px;
  }
  
  .form-label {
    padding-left: 0px !important;
    color: #3b7d4a;
  }
  
  .form-control {
    border-radius: 10px;
    background-color: #282828;
    width: 70%;
    height: 30px;
    margin-left: 15px;
    color: #3b7d4a;
    font-size: 20px;
    /* border: #fff; */
    outline: #fff;

  }
  
  .btn-success {
    background-color: #3b7d4a im !important;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 0;
    font-size: 25px;
    margin-left: 20px ;
    padding: 10px 55px;
    background-color: #292525;
    color: #3b7d4a;
    border: none;
    outline: none;
  }
  
  .btn-success:hover {
    background-color: #4daf64;
    color: white;
  }
  
  img.track {
    border: 3px solid #8a8a8a;
  }

  .genre {
    width: 40%;
    margin: 20px;
    padding: 15px 20px;
    background-color: #282828;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .list-group{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .song_detail {
    margin-left: 20px;
  }

  .songs{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }

  .song_title{
    font-size: 40px;
  }

  .song_artist{
    font-size: 20px;
  }

  /* .song_img{
    width: 100px;
    height: 100px;
  } */

@media screen and (max-width: 1000px){
    #player{
        width: 100%;
        /* margin-top: -20px; */
    }
    .music_img{
        margin-top: 18px;
        /* padding: 5px; */
    }
    
    .music_details {
        margin-top: 18px;
    }

    .controls {
        margin-top: 18px;
    }

    .options {
        margin-top: 18px;
    }  
}